// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.properties_block{
  border-bottom: 1px solid black;
}

.stations{
  font-size: 20px;
  font-weight: bold;
}
.item{
  font-weight: bold;
}
.station_form{
  margin-left: 20px;
}
.property_item{
  font-weight: bold;
  margin-left: 20px;
}